#root {
  overflow: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    background-image: linear-gradient(to bottom right, #0d1013, #4ca1af);
    background-attachment: fixed;

  }

.links {
  padding: 10px; 
  margin-right: 60px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Gill Sans', sans-serif;
}

.links.active {
  text-decoration: underline;
}

.SU.active {
  text-decoration: underline;
}

.linksL.active {
  text-decoration: underline;
}

li {
  display: inline;
  float: right;
  margin-top: 20px;
  margin-bottom: 7px
}

ul.nav-links {
  margin-top: 30px;
}

.SU {
  background-color:#247986;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  margin-right: 60px;
  font-family: 'Gill Sans', sans-serif
}

.linksL {
  padding: 10px; 
  margin-right: 0px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Gill Sans', sans-serif
}

.links:hover,
.SU:hover,
.linksL:hover {
  text-decoration: underline;
}

.logout {
  background-color: #247986;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  margin-right: 60px;
  margin-top: -10px; /* Add a negative margin-top value to move the button up */
  font-family: 'Gill Sans', sans-serif;
}

.logout:hover {
  text-decoration: underline;
}