.inputs {
    /* text-align: center; */
}

.form {
    border: 2px solid #333; /* Set border properties */
    padding: 20px; /* Add some padding for space inside the border */
    width: 560px; /* Set a width if desired */
    margin: 0 auto; /* Center the container horizontally */
    height: 700px;
    position: absolute; 
    top: 150px; 
    left: 920px; 
    border-radius: 10px; 
    background-color: #0d101356;

}

.sub-btn {
    position: absolute; 
    top: 400px; 
    left: 230px; 
    background-color: #4ca1af;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 60px;
    font-family: 'Gill Sans', sans-serif
}

form label {
    color: white
}

.lets {
    color: white;
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
    font-size: 50px;
}

.input3{
    background: transparent;
    border: 5px solid #247986;
    color: white;
    border-radius: 10px;
    width: 400px; /* Adjust the width as desired */
    height: 50px; /* Adjust the height as desired */
    font-size: 20px; /* Adjust the font size as desired */
    padding-left: 20px; /* Adjust the left padding as desired */
    font-family: 'Gill Sans', sans-serif;
    margin-left: 50px;
    margin-bottom: 20px;
}

.label {
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px; /* Adjust the margin-top value as desired */
}